FluidSim/realtime-fluid-dynamics-for.pdf
Docs/SimulaçãoDeReservatórios/Aula-9 - MODELO_BLACK_OIL_AULA_SIMPLIFICADA_2017_02_FINAL.pdf
Docs/SimulaçãoDeReservatórios/Aula-8 - METODO_DAS_DIFERENCAS_FINITAS_AULA_MESTRADO_PARTE_2_2017_02.pdf
Docs/SimulaçãoDeReservatórios/Aula-7 - METODO_DAS_DIFERENCAS_FINITAS_AULA_MESTRADO_PARTE_01_2017_02.pdf
Docs/SimulaçãoDeReservatórios/Aula-6 - LEI_DE_DARCY_CONS_DA_MAS_ESC_MON_AULA_MESTRADO_2017_02.pdf
Docs/SimulaçãoDeReservatórios/Aula-5 - PROP_FLUIDOS_E_MATRIZES_FINAL_AULA_MESTRADO_2017_02.pdf
Docs/SimulaçãoDeReservatórios/Aula-4 - Nocoes de geologia do petroleo_parte2_2017_02.pdf
Docs/SimulaçãoDeReservatórios/Aula-3 - Nocoes de geologia do petroleo_Parte_01_2017_02.pdf
Docs/SimulaçãoDeReservatórios/Aula-2 - O_Que_e_Petroleo_2017_02.pdf
Docs/SimulaçãoDeReservatórios/Aula-1 - Historico do petroleo_2017_02.pdf
Docs/SimulaçãoDeReservatórios/Aula-0 - Introdução_ao_curso_2017_02.pdf
Docs/MEC_FLU_EQ_BASICAS_INTEGRAL_AULA_09.pdf
Docs/FiniteVolumesMethod.pdf
Docs/Computational_Science_and_EngineeringZhangxin_Chen-Computational_Methods_for_Multiphase_Flows_in_Porous_Media-Society_for_Industrial_and_Applied_Mathematic2006.pdf
Docs/Aula_01_Introducao a modelagem matematica.pdf
Docs/2005TeseDarlan (1).pdf
Docs/
heat.mp4
.vscode/
